<div class="site-mobile-menu site-navbar-target">
  <div class="site-mobile-menu-header">
    <div class="site-mobile-menu-close">
      <span class="icofont-close js-menu-toggle"></span>
    </div>
  </div>
  <div class="site-mobile-menu-body"></div>
</div>

<nav class="site-nav">
  <div class="container">
    <div class="menu-bg-wrap">
      <div class="site-navigation">
        <div class="row g-0 align-items-center">
          <div class="col-2">
            <a href="" class="logo m-0 float-start">Blogy<span class="text-primary">.</span></a>
          </div>
          <div class="col-8 text-center">
            <form action="{% url 'search_result' %}" class="search-form d-inline-block d-lg-none">
              <input name="q" class="form-control" placeholder="Search..." />
              <span class="bi-search"></span>
            </form>
            <ul class="js-clone-nav d-none d-lg-inline-block text-start site-menu mx-auto">
              <li class="has-children">
                <a href="">Profile</a>
                {% if user.is_authenticated %}
                  <ul class="dropdown">
                    <li>
                      <a href="">{{ user.username }}</a>
                    </li>
                    <li>
                      <a href="{% url 'sign_out' %}" >Logout</a>
                    </li>
                    {%if user.is_superuser%}  
                    <li>
                      <a href="{% url 'create_post' %}" >Create Post</a>
                    </li>
                    {%endif%}
                  </ul>
                {% else %}
                  <ul class="dropdown">
                    <li>
                      <a href="">User</a>
                    </li>
                    <li>
                      <a href="{% url 'sign_in' %}">Login</a>
                    </li>
                  </ul>
                {% endif %}
              </li>
              <li class="active">
                <a href="{%url 'index'%}">Home</a>
              </li>
              <li class="has-children">
                <a href="">Categories</a>
                <ul class="dropdown">
                  <li>
                    <a href="{% url 'category' 'Technology' %}">Technology</a>
                  </li>
                  <li>
                    <a href="{% url 'category' 'Productivity' %}">Productivity</a>
                  </li>
                  <li>
                    <a href="{% url 'category' 'Inspiration' %}">Inspiration</a>
                  </li>
                </ul>
              </li>
              <li>
                <a href="category.html">About</a>
              </li>
              {% if user.is_authenticated %}
                <li>
                  <a href="{% url 'sign_out' %}" class="btn btn-primary btn-sm">Logout</a>
                </li>
              {% else %}
                <li>
                  <a href="{% url 'sign_in' %}" class="btn btn-primary btn-sm">Login</a>
                </li>
              {% endif %}
            </ul>
          </div>
          <div class="col-2 text-end">
            <a href="#" class="burger ms-auto float-end site-menu-toggle js-menu-toggle d-inline-block d-lg-none light"><span></span></a>
            <form action="{% url 'search_result' %}" class="search-form d-none d-lg-inline-block">
              <input name="q" class="form-control" placeholder="Search..." />
              <span class="bi-search"></span>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</nav>
